body {
    font-family: Monserrat;
}

h3 {
    font-size: 45px;
    color: #BE3969;
    text-decoration: none;
}

.a {
    color: #9B9B9B;
    font-size: 25px;
}

span {
    background-color: #9B9B9B;
}

p {
    font-family: Monserrat;
}