    html,
    body {
        background-color: rgb(70, 218, 255);
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
    }
    
    .box {
        width: 400px;
        height: 400px;
        border: 1px solid black;
        border-radius: 15px;
        background-color: white;
        margin: 25px;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-left: 30px;
        font-weight: bold;
    }
    
    .button {
        margin-left: 130px;
        font-size: x-small;
        border: 1px solid rgb(231, 217, 217);
        padding: 5px;
        border-radius: 5px;
        color: grey;
    }
    
    .cajagrande {
        margin-left: 25px;
    }
    
    .cajitaA {
        display: flex;
        flex-direction: row;
        width: 310px;
        height: 75px;
        border: 1px solid rgb(234, 241, 247);
        border-radius: 5px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    
    .borde-rosa,
    .borde-naranja,
    .borde-violeta {
        height: 75px;
        width: 10px;
        background-color: rgb(241, 106, 219);
        border-radius: 3px;
    }
    
    .contenido {
        display: flex;
        flex-direction: column;
    }
    
    p {
        margin-left: 15px;
    }
    
    span {
        display: flex;
        align-items: flex-end;
        margin-left: 15px;
        color: grey;
        font-size: small;
    }
    
    .borde-naranja {
        background-color: rgb(228, 137, 19);
    }
    
    .borde-violeta {
        background-color: rgb(134, 19, 228);
    }