.ma {
    background-color: #8536cf;
}

.me {
    background-color: #7ffd00;
}

.mi {
    background-color: #ff1493;
}

.mo {
    background-color: #ff4500;
}

.mu {
    background-color: #001aff;
}

.pa {
    background-color: rgb(255, 192, 203);
}

.pe {
    background-color: rgb(65, 105, 225);
}

.pi {
    background-color: rgb(106, 90, 205);
}

.po {
    background-color: rgb(0, 128, 128);
}

.pu {
    background-color: rgb(255, 99, 71);
}

.ca {
    background-color: hsl(0, 100%, 50%);
}

.ce {
    background-color: hsl(16, 100%, 50%);
}

.ci {
    background-color: hsl(36, 100%, 50%);
}

.co {
    background-color: hsl(60, 100%, 50%);
}

.cu {
    background-color: hsl(0, 76%, 49%);
}